*.Rproj
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.mdb
*.shp*
*.shx
*.xls*
*_files
*.tmp
*.css
*.tex
*.json
*.cff
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
docs
libs
output
renv/library
/.quarto/
/_freeze
/cc-by.eps
/flanders-state-art.pdf
/flandersqmd-book.tex
/inbo-logo.pdf
/orcid.eps
/report-generic.sty
/report-language.sty
/site_libs
/vlaamse-overheid.pdf
/vlaanderen-wetenschap.pdf
